footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color:#000000;
    border-top: 1px solid white;
}

#topfooter{
    width:80%;
    height: 70%;  
    padding: 64px 0px;
    display: flex;
    justify-content: space-around;
    border-bottom: 1px solid white;
}

#logo{
    display: flex;
}



#logo h3{
    color:white;
    font-weight: 500;
}
#logo h3 span{
    color: red;
}
.list h5{
    color: white;
    font-weight: 600;
}

.list ul{
    margin-top: 10px;
}

.list ul li{
    margin-top: 5px;
    list-style: none;
    font-size: 14px;
    font-weight: 400;
}

.list ul li a{
    text-decoration: none;
    color: white;
    font-weight: 400;
}

#bottomfooter{
    width: 75%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    color: white;
}